tempCodeRunnerFile
tempCodeRunnerFile.c
.vscode/settings.json
.vscode/tasks.json
main.dSYM/Contents/Info.plist
main.dSYM/Contents/Resources/DWARF/main
trial.dSYM/Contents/Info.plist
trial.dSYM/Contents/Resources/DWARF/trial
